<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6oFD9lBLqVMoPs3ROehAc2AUzvNkrGOE</string>
	<key>GCM_SENDER_ID</key>
	<string>304405031192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ppTest</string>
	<key>PROJECT_ID</key>
	<string>pp-test-a9e68</string>
	<key>STORAGE_BUCKET</key>
	<string>pp-test-a9e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304405031192:ios:5c9cad3671bd814852566d</string>
</dict>
</plist>